<% include ../partials/heading %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3>YelpCamp</h3>
            <ul class="list-group">
                <li class="list-group-item active">info 1</li>
                <li class="list-group-item">info 2</li>
                <li class="list-group-item">info 3</li>
            </ul>
        </div>
        
        <div class="col-md-9">
            <!-- -------- area for campground info display -------- -->
            <div class="thumbnail">
                <img src="<%= campground.image%>" class="image-responsive">
                <div class="caption-full">
                    <h4 class="pull-right">$<%= campground.price%>/night</h4>
                    <h4><%= campground.name %></h4>
                    <p><%= campground.description %></p>
                    <p><em>Submitted by <%= campground.author.username %></em></p>
                    
                    <!--we do not show "edit" or "delete" button if a user is not authorized-->
                    <% if(currentUser && campground.author.id.equals(currentUser.id)){ %>
                        <!--a link button to edit page-->
                        <a href="/campground/<%= campground._id%>/edit" class="btn btn-warning">Edit</a>
                        <!--a link button to delete - in form-->
                        <form class="deleteForm" action="/campground/<%= campground._id%>?_method=DELETE" method="post">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <!-- ----- end of area for campground info display ----- -->

            <!--------- comment section --------->
                <!--to control comment section, if user is not logged in, he is not able to add a comment, instead a reminder message will display-->
            <div class="well">
                <% if(currentUser){ %>
                    <div class="text-right"><a class="btn btn-success" id="addCommentButton">Add New Comments</a></div>
                <% }else{ %>
                    <div class="alert alert-info" role="alert"><strong>WE LIKE TO KNOW WHO YOU ARE!</strong> Login to Leave A Comment</div>
                <% } %>
 
                    <!-- *******************THIS IS THE TOGGLE SESSION FOR NEW COMMENTS********************-->
                        <div id="commentSection" class="well">
                                <form action="/campground/<%= campground._id %>/comments" method="POST" style="margin: 25px auto">
                                    <label><i class="fa fa-pencil" aria-hidden="true"></i> Tell us about this campground</label>
                                    <div class="form-group">
                                       <textarea name="comment[text]" placeholder="Add a comment to this campground" class="form-control" rows="8"></textarea>
                                    </div>
                                    <button class="btn btn-success">Comment &nbsp<i class="fa fa-comment" aria-hidden="true"></i></i></button>
                                </form>
                        </div>
                    <!--****************************THIS IS THE TOGGLE SESSION FOR NEW COMMENTS********************-->
                    
                <% campground.comment.forEach(function(comment){ %>
                    <div>
                        <strong><%= comment.author.username%></strong>
                        <strong class="pull-right">10 day ago</strong>
                        <div><%= comment.text%></div>
                        
                        <% if(currentUser && comment.author.id.equals(currentUser.id)){%>
                            <a class="btn btn-warning btn-xs" href="/campground/<%= campground._id%>/comments/<%= comment._id%>/edit">Edit</a>
                            <form class="deleteForm" action="/campground/<%= campground._id%>/comments/<%= comment._id%>/?_method=DELETE" method="post">
                                <button class="btn btn-danger btn-xs">Delete</button>
                            </form>
                       <% } %> 
                    </div>
                <% }) %>
            </div>
             <!------------end of comment section- ----------------->
        </div>
    </div>
</div>

<script src="/javascript/comment.js"></script>

<% include ../partials/footer %>